$stock-size: (
    SHUTTERSTOCK: 99px 16px,
    DEPOSITPHOTOS: 125px 24px,
    ISTOCK: 62px 16px,
    ADOBESTOCK: 111px 23px,
    FREEPIK: 85px 24px,
    '123RF': 75px 14px,
    DREAMSTIME: 104px 16px
);

$stock-btn-width: (
    SHUTTERSTOCK: 123px,
    DEPOSITPHOTOS: 149px,
    ISTOCK: 86px,
    ADOBESTOCK: 135px,
    FREEPIK: 109px,
    '123RF': 99px,
    DREAMSTIME: 128px,
    ENVATOELEMENTS: 141px
);