// TODO сделать авторасчёт высоты (а resize быть не должно так как лагает)
.textblock {
    &__container {
        position: relative;
    }
    &__close {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 30px;
        height: 30px;
        background: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 16px;
            height: 16px;
        }
        &:hover {
            background: $page;
        }
    }
    &__textarea {
        padding: 8px 8px 16px 16px;
        width: 1008px;
        height: 134px;
        background: $white;
        border: 1px solid $borderInput;
        border-radius: 12px;
        outline: none;
        resize: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $black;

        &:focus, &:focus-visible {
            border: 1px solid $black;
            outline: none;
        }
    }
    &__action {
        @include btn-order(274px, 48px, 12px);
        margin-top: 20px;
        &[disabled] {
            background: $borderItem;
        }
    }
}