.title-account {
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    color: $black;
}

%opt-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $fontOrderItem;
}