$white: #fdfdfd;
$black: #000000;
$page: #EDEEF0;
$active: #7700FF;
$activeHover: #4B009F;
$font: #262626;
$fontOpti: #8F8E98;
$titleOpti: #2C2C2C;
$borderItem: #C0BFCC;

$fontOrderItem: #72717B;
$borderInput: #2c2c2c;
$warnErrText: #F54336;
$warnBack: #E2E5FF;
$checkHover: #EBDFF9;


$stock-color: (
    SHUTTERSTOCK: #F54336,
    DEPOSITPHOTOS: #82C142,
    ISTOCK: #02A388,
    ADOBESTOCK: #FF4486,
    FREEPIK: #3772EA,
    '123RF': #FFAC0B,
    DREAMSTIME: #EA4397,
    ENVATOELEMENTS: #41B35A,
);
